body{
	height: 628px;
    background: -webkit-linear-gradient(green, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, white); /* Standard syntax (must be last) */
}

.container{
	margin-left: 50px;
	height: 620px;
	width: 1250px;
	border: 1px solid green;
	margin-top: 40px;
	background-color: white;
	border-radius: 10px;
}

#title{
	padding: 20px;
}

#login{
	text-decoration: none;
	margin-right: 10px;
	top: 80px;
	left: 1130px;
	position: absolute;
}

#signup{
	text-decoration: none;
	position: absolute;
	top: 80px;
	left: 1200px;
}

/*.dropdown{
	position: absolute;
	top: 110px;
	left: 1000px;
}*/

.search{
	position: absolute;
	top: 110px;
	left: 1080px;
}

hr{
	width: 1200px;
	position: absolute;
	top: 130px;
	left: 80px;
}

.slide{
	padding: 5px;
	margin-left: 30px;
	width:300px;
	height:200px;
	box-shadow: 10px 10px 5px #888888;
}

explore p{
	position: fixed;
	bottom: 100px;
	top: 130px;
	left: 450px;
	font-size: 18px;
	font-family: "Arial";
}

explore a{
	text-decoration: none;
}

choicesone{
	position: fixed;
	bottom: 100px;
	top: 75px;
	left: 470px;
}

choicesone img{
	margin-top: 105px;
	padding: 5px;
	height: 90px;
	width: 100px;
}

choicestwo{
	position: fixed;
	bottom: 100px;
	top: 260px;
	left: 470px;
}

choicestwo img{
	margin-top: 50px;
	padding: 5px;
	height: 90px;
	width: 100px;
}

choicesthree{
	position: fixed;
	bottom: 100px;
	top: 260px;
	left: 620px;
}

choicesthree img{
	margin-top: 50px;
	padding: 5px;
	height: 90px;
	width: 100px;
}

choicesfour{
	position: fixed;
	bottom: 100px;
	top: 120px;
	left: 620px;
}

choicesfour img{
	margin-top: 50px;
	padding: 10px;
	height: 90px;
	width: 100px;
}

new{
	margin-left: 50px;
}

new img{
	height: 150px;
	width: 250px;
}

newtext i{
	font-size: 20px;
	position: fixed;
	top: 470px;
	left: 390px;
}

parag{
	border: 0px solid white;
	position: fixed;
	top: 490px;
	left: 400px;
	width: 870px;
	height: 100px;
	text-indent: 40px;
}

down h3{
	margin-left: 45px;
	margin-top: 30px;
}

down a{
	text-decoration: none;
}

.choicesfood{
	position: fixed;
	top: 160px;
	left: 795px;
	width: 440px;
	height: 280px;
}

.choicesfood small{
	margin-left: 10px;
}

.choicesfood a{
	text-decoration: none;
}

.choicesfood li{
	list-style: none;
	margin-left: 10px;
}

.choiceright{
	position: fixed;
	left: 1040px;
	top: 185px;
}

.choiceright2{
	position: fixed;
	left: 1040px;
	top: 300px;
}

/*************************Login Page**************************************/
.loginbox {
	border: 2px solid green;
	width: 150px;
	height: 100px;
	margin-top: 100px;
	padding: 40px;
}

.loginbox label{
	font-size: 18px;
}

.loginbox input{
	border-radius: 4px;
}

/***************************Register Page **********************************/
#register{
	text-align: center;
	width: 500px;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	background-color: #C2FFA3;
}

#register input{
	width: 250px;
	height: 25px;
	border-radius: 10px;
}

/***************************Profile Page**********************************/
#profilelogin{
	text-decoration: none;
	margin-right: 10px;
	top: 80px;
	left: 1050px;
	position: absolute;
}

profilepicture{
	height: 250px;
	width: 250px;
	margin-left: 20px;
}